<div class="panel-heading">
<div class="panel-title">用户信息</div>
</div>
<table class="table table-bordered" ng-controller="UserInfoCtrl">
    <thead>
    <tr>
        <th>ID</th>
        <th>姓名</th>
        <th>年龄</th>
        <th>邮箱</th>
        <th>密码</th>
    </tr>
    </thead>
    <!--<tbody data-ng-init="getAllUser()">-->
    <tbody>
    <tr ng-repeat="user in users">
        <td>{{user.id}}</td>
        <td>{{user.name}}</td>
        <td>{{user.age}}</td>
        <td>{{user.email}}</td>
        <td>{{user.password}}</td>
    </tr>
    </tbody>
</table>
<!--<div>-->
<!--<button class="btn btn-info" ng-click="getFormData()">获取Form表单的值</button>-->
<!--<button class="btn btn-info" ng-click="setFormData()">设置Form表单的值</button>-->
<!--<button class="btn btn-info" ng-click="">重置表单</button>-->
<!--</div>-->